body { padding-top: 70px; }

/* ============================================================================
    form-errors
    =========================================================================== */

#form-errors p {
    color: #8A3324;
    font-size: 16px;
}

#form-errors ul {
    color: #666;
    margin-left: 60px;
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: bold;
}

.secondary-cart-btn {
    background-color: #5daad0;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 5px 0px #467f9c;
    border: none;
}
